body {
  background-color: #FFEDD7;
  padding: 0px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  float: none;
  font-weight: normal;
  -webkit-font-smoothing: antialiased !important;
  color: #353535;
      /*background: url(background.png) no-repeat center center fixed, #FFEDD7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

/*@font-face {
  font-family: hkgrotesk-regular;
  src: url(HKGrotesk-Regular);
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url(Inter.otf);
  font-weight: bolder;
}*/

@font-face {
  font-family: 'OPTICaslon';
  src: url(OPTICaslonBold-Cond.otf);
  /*src: url(../fonts/opticaslonbold-cond.woff.woff) format('woff'); /* Pretty Modern Browsers */
  /*src: url(../fonts/opticaslonbold-cond-webfont.ttf) format('truetype'); /* Safari, Android, iOS */
  /*src: url(../fonts/opticaslonbold-cond-webfont.svg) format('svg'); /* Legacy iOS */
  font-weight: normal;
}

@font-face {
  font-family: Inter;
  src: url(Inter-Regular.otf);
  src: url(Inter-Regular.ttf) format('truetype');
  font-weight: normal;
}


src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */

@font-face {
  font-family: Inter;
  src: url(Inter-Medium.otf);
  src: url(Inter-Medium.ttf) format('truetype');
  font-weight: bolder;
}

::selection {
  background: #353535;
  color: #FFEDD7;
}
::-moz-selection {
  background: #353535; 
  color: #FFEDD7;
}


@-webkit-keyframes fadein {
  0%   { opacity: 0; } 
  100% { opacity: 1; }
}


@-webkit-keyframes reveal {
  0% {
    transform: translate(0,100%) rotate(-10deg);
  }
  100% {
    transform: translate(0,0) rotate(0deg);
  }
}

@-webkit-keyframes show {
  0% {
    transform: translate(0,100%);
    opacity: 0;
  }
  100% {
    transform: translate(0,0);
    opacity: 1;
  }
}

html {
  scroll-behavior: smooth;
}

.logo img {
  max-width: 150px;
  padding-top: 40px;
  animation-delay: 500ms;
  animation: fadein 1s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-content: center;
}

.page-content {
  max-width: 100%;
  padding-top: 20%;
  /*padding: 25% 20% 0% 20%;*/
  /*overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  text-align: center;
  align-content: center;
}

.page-content h2 {
  font-size: 16px;
  margin-top: 40px;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.content-title h1 {
  font-family: 'OPTICaslon', serif;
  padding: auto;
  font-size: 98px;
  margin: 0px;
  overflow: hidden;
  line-height: 1.2;
  margin-bottom: 0px;
}

.content-title h1 span {
  display: block;
  animation: reveal 1200ms;
}

.content-subtitle {
  margin-bottom: 0px;
  display: inherit;
}


.content-subtitle h2 {
  padding-bottom: 20px;
  font-family: 'Inter', serif;
  font-size: 16px;
  margin-left: 30%;
}

.content-subtitle h2::before {
  content: "\27F6  ";
}

.btn {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  display: inline-block;
  color: #353535;
  text-decoration: none;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: bolder;
  text-transform: uppercase;
}

.content-subtitle h2::before {
  content: "\27F6  ";
}

.btn::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transition: width .6s;
}

.btn:hover::after {
  width: 0%;
  transition: width .6s;
}

.btn-footer {
  font-family: 'hkgrotesk-medium', sans-serif;
  display: inline-block;
  color: #353535;
  text-decoration: none;
  line-height: 26px;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 68px;
}

.btn-footer::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transition: width .6s;
}

.btn-footer:hover::after {
  width: 0%;
  transition: width .6s;
}

.cta {
  float: right;
  margin-right: 10%;
  margin-top: 50px;
}

.btn-cta {
  float: right;
  margin-right: 10%;
  color: white;
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.5px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #FF4E4E;;
  border-style: none;
  transform: rotate(-10deg);
  transition: all .2s ease-in-out;
  animation: fadein 1s ease-in-out;
}

.btn-cta:hover {
  transform: rotate(-10deg);
  transform: scale(1.1);
}

.btn-cta a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.details {
  margin-left: 10%;
  margin-top: 150px;
  text-align: left;
  max-width: 20%;
  font-size: 10px;
}

.details h3 {
  padding: 0px;
  margin: 0px;
  font-weight: bolder;
  color: #FF4E4E;
  overflow: hidden;
  line-height: 1.2;
  margin-bottom: 0px;
}

.details h3 span {
  opacity: ;
  display: block;
  animation: fadein 1s ease-in-out;
  animation: show 1s 500ms;
}

.details h3 span:after {
  opacity: 1;
}

.hero img {
  padding-top: 100px;
  max-width: 100%;
  animation: fadein 2s;
}

.content-playlist {
  margin-top: 100px;
  font-family: 'OPTICaslon', serif;
  opacity: 0;
}

.content-playlist h2 {
  margin-left: 10%;
  font-size: 48px;
}

.content-shirt {
  margin-top: 200px;
  font-family: 'OPTICaslon', serif;
  opacity: 0;
}

.content-shirt h2 {
  margin-left: 10%;
  font-size:48px;
      margin-right: 10%;
}

.content-shirt-block {
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 100px;
  margin-bottom: 70px;
  max-width: 570px;
}

.content-shirt-block h2 {
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 20px;
  margin: 0px;
  padding-top: 20px;
  text-transform: uppercase;
}

.content-shirt-block h1 {
  margin: 0px;
  font-size: 16px;
  max-width: 80%;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}

.content-shirt-block p {

}

.content-shirt-block-image {
  opacity: 0;
    max-width: 100%;
    margin
}


.text-centre {
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 10% 10% 10% 10%;
  max-width: 768px;
}

.block-1 {
  min-height: 200px;
  position: absolute;
  float: left;
  padding-left: 20%;
  width: 100%;
}


#container {
width: 80%
font-size: 16px;
margin: 100px 5% 50px 15%;
text-decoration: none;
opacity: 0;
}

#container li {
  text-decoration: none;
  list-style: none;
  padding-bottom: 30px;
}

#container_div1 {
width: 20%;
float: left;
display: inline-block;
text-align: right;
padding-right: 5%;
font-weight: normal;
}

#container_div1 li {
  font-weight: normal;
}


#container_div2 {
width: 75%;
text-align: Left;
display: inline-block;
text-transform: uppercase;
font-weight: bolder;
font-size: 16px;
}

#container_div2 a {
  text-decoration: none;
  color: #353535;
}

.scrolling-text {
  background-color: #FFAC55;
 height: 100px;  
 overflow: hidden;
 position: relative;
 margin-bottom: 150px;
 margin-top: 150px;
}

.scrolling-text h1 {
  color: white;
  text-transform: uppercase;
white-space: nowrap;
 font-size: 16px;
 font-family: 'Inter', serif;
  font-weight: bolder;
 position: ;
 width: auto;
 height: 100%;
 margin: 0;
 line-height: 100px;
 text-align: center;

 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);  
 transform:translateX(100%);

 /* Apply animation to this element */  
 -moz-animation: example1 30s linear infinite;
 -webkit-animation: example1 30s linear infinite;
 animation: example1 30s linear infinite;
}

.scrolling-text-values {
  margin-left: 10%;
  font-size: 16px;
  font-weight: bolder;
  padding-bottom: 20px;
  margin-right: 20%;
  opacity: 0;
  }

.scrolling-text-values h1 {
  font-size: 68px;
  font-family: 'OPTICaslon', serif;
  padding-top: 200px;
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 1.2;
  }

.scrolling-text-background {
  margin-top: 200px;
  background-color: #FE9757;
  /*FFC88E;*/
  color: white;
}

.scrolling-text-description {
  margin-left: 10%;
  max-width: 500px;
  font-size: 16px;
  margin-right: 20%;
}

.scrolling-text-description h2 {
  font-size: 16px;
  padding-bottom: 150px; 
    font-weight: bolder;
}

.scrolling-text-description p {
  line-height: 24px;
  padding-bottom: 200px;
  margin-bottom: 0px;
}

.side-image-block {
    width: 100%;
    float: right;
    margin-top: 150px;
 padding-bottom: 200px;
 opacity: 0;
}

.side-image {
    right: 0px;
    max-width: 505px;
    position: relative;
    display: block;
    width: 100%;
    float: right
}

.side-image-two-block {
    width: 100%;
    margin-top: 200px;
    margin-bottom: 100px;
    opacity: 0;
}

.side-image-two {
    right: px;
    max-width: 305px;
    position: relative;
    display: block;
    width: 100%;
}

.btn-gif {
  margin-left: 10%;
  color: black;
  text-decoration: none;
  line-height: 16px;
  letter-spacing: 0.5px;
  /*height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: black;
  border-style: black;
  border-color: black;*/
  animation: fadein 1s ease-in-out;
}

.btn-gif:hover {
  position: relative;
}

.btn-gif a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

.btn-gif:hover:after {
    content: url(leonardo.gif); /* no need for qoutes */
    display: block;
    position: absolute;
    left: 123px; /* change this value to one that suits you */
    top: 20%; /* change this value to one that suits you */
    float: left;
}

.cover-image {
  opacity: 0;
}

 .cover-image-mobile {
    display: none;
    opacity: 0;
  }

 .cover-image-mobile {
  width: 100%;
 }


/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}

.quote {
  margin-top: 200px;
  margin-left: 10%;
  max-width: 40%;
  margin-right: ;
  opacity: ;
}

.quote h1 {
  font-size: 38px;
  font-family: 'OPTICaslon', serif;
}

.quote h2 {
  font-size: 16px;
  font-family: 'Inter', serif;
  font-weight: bolder;
  color: #FF4E4E;
}

.quote p {
  margin-top: 50px;
  font-size: 16px;
  font-family: 'Inter', serif;
  font-weight: ;
}

.block-hero-quote {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: center;
  max-width: 570px;
}

.block-hero-quote h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 68px;
  font-family: 'OPTICaslon', serif;
  line-height: 1.2;
  color: #FE9757;
  }


.block-hero {
  margin-left: 10%;
  margin-right: 10%;
}

.block-hero img {
  width: 100%;
}


.block-hero-quote-two {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  text-align: center;
}

.block-hero-quote-two h3 {
  margin-top: 80px;
}

.block-hero-quote-two h3::before {
  content: "\27F6  ";
}

.block-hero-quote-two h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 68px;
  font-family: 'OPTICaslon', serif;
  line-height: 1.2;
  color: #FE9757;
  }


.block-hero-two {
  margin-left: auto;
  margin-right: auto;
  max-width: 570px;
}



footer {
   display: block;
   font-size: 16px;
   bottom: 0;
   width:100%; 
   overflow: hidden;
   float: left;
   padding-left: 0;
   margin-top: 0px;
   margin-bottom: 200px;
   /*border-top: 1px solid;
   border-color: #737373;
   background-color: #141414;*/
}

.footer h4 {
  margin-left: 10%;
  font-size: 16px;
}

.Footer-cta {
  width: 80%;
  margin: 0px 5% 20px 10%;
  align-content: left;
  text-align: left;
  color: black;
  font-size: 68px;
  color: #FE9757;
}

.Footer-cta h2 {
  font-size: 16px;
}

.Footer-cta h3 {
    font-size: 68px;
    margin-bottom: 0px;
    font-family: 'OPTICaslon', sans-serif;
}


.Footer-cta h2::before {
  content: "\27F6  ";
}

#container-footer-div1 li::before {
  content: "\27F6  ";
}



#container-footer-div1 p {
    text-decoration: none;
    color: #353535;
    margin: 0 0 50px 0;
}


#container-footer-div1 a {
    text-decoration: none;
}

#container-footer-div1 li {
    font-size: 16px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}

#container-footer {
margin-left: 10%;
margin-right: 10%;
max-width: 570px;
float: left;
display: inline-block;
}

.credits {
  padding-top: ;
  font-size: 14px;
  text-transform: uppercase;
  margin-left: 10%;
  margin-bottom: 100px;
}

.credits h2 {
  padding-bottom: 20px;
  margin: 0px;
    font-size: 14px;
}

.credits p {
  margin: 0px;
  padding: 0px;
  font-weight: bolder;
}

.credits a {
  text-decoration: underline;
  color: #353535;

}


@media only screen and (max-width: 984px) {
  .scrolling-text-values {
    margin-right: 10%;
  }
.side-image{
  max-width: 470px;
 } 
}

@media only screen and (max-width: 768px) {

  .cover-image-mobile {
    display: block;
  }

.cover-image {
    display: none;
  }

  .content-title h2 {
    padding-top: 40px;
  }

  .content-subtitle h2 {
    margin-left: 10%;
  }

  .content-shirt h2 {
    font-size: 38px;
  }



  .content-shirt-block {
    margin-left: 10%;
    margin-right: 10%;
  }

  .scrolling-text-values h1 {
    font-size: 48px;
  }

  .content-playlist h2 {
    font-size: 38px;
  }

.block-hero-quote h2 {
  max-width: 100%;
  font-size: 38px;
  }

  .block-hero-quote p {
  max-width: 100%;
}

.block-hero-two {
  margin-left: 10%;
  margin-right: 10%;
}

.side-image-two {
  max-width: 235px;
}

.block-hero-quote-two h2 {
  font-size: 38px;
}

  .side-image-block {
    margin-top: 100px;
    padding-bottom: 100px;
}

#container-footer {
  margin-left: 10%;
}

  .side-image {
    max-width: 335px;
  }

#container{
width: 80%;
font-size: 16px;
margin: 100px 5% 100px 10%;
text-decoration: none;
}

#container_div1 {
width: 5%;
text-align: left;
}

.details {
  display: none;
}

#container_div2 {
width: 90%;
}

.page-content h2 {
  font-size: 16px;
  margin-top: 40px;
  font-weight: bolder;
}

  .page-content {
  max-width: 100%;
  padding-top: 30%;
}

  .content-title h1 {
    font-size: 58px;
  }
}


@media only screen and (max-width: 480px) {

  body {
    font-size: 14px;
  }

  .content-title h1 {
    font-size: 58px;
  }

  .scrolling-text-values {
    margin-right: 10%;
  }

  .scrolling-text-values h1 {
    font-size: 38px;
  }

    .content-title h2 {
    padding-top: 40px;
  }

  .content-subtitle h2 {
    margin-left: 10%;
  }

  .content-shirt-block {
    margin-left: 10%;
  }



#padding-block-100 {
  height: 100px;
}